{% extends 'error_base.html' %}{% load sitetext %}
{% block title %}{% sitetext 'error404.title' %}{% endblock %}
{% block bg %}#7dd3fc{% endblock %}
{% block badge %}{% sitetext 'error404.badge' %}{% endblock %}
{% block code %}404{% endblock %}
{% block heading %}{% sitetext 'error404.heading' %}{% endblock %}
{% block text %}{% sitetext 'error404.text' %}{% endblock %}
{% block home_url %}{% url 'portfolio:home' %}{% endblock %}
{% block button %}{% sitetext 'error404.button' %}{% endblock %}
